.part_1_tekst_onder{
    background: rgb(1,247,255);
    background: linear-gradient(180deg, rgba(1,247,255,1) 0%, rgba(21,96,217,1) 100%);
    font-size: 200%;
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;-clip: text;
    -moz-text-fill-color: transparent;
    margin-top: -70px;
}
.part_1{
    font-family: Arial, Helvetica, sans-serif;
        font-size: 500%;
    font-weight: bold;
    padding-bottom: 370px;
}
.part_1_tekst{
    text-align: center;
    position: relative;
    margin-top: 15%;
    height: 33%;
}
body{
    color: black !important; 
    font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0%;

}

.part_2{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 6%;
    margin-right: 10%;
    font-size: 200%;

}
.wij_hebben{
    font-size: 250%;
}
.part_3_person{
    width: 96%;
    padding: 1em;
    height: auto;
    border-radius: 15px;
    margin: 2%;
    text-align: left;

    background-color: whitesmoke;
}
.part_3_person img{
    width: 48%;
    left: 1;
    border-radius: 15px;
    position: relative;
}
.pasta{
    font-size: 200%;
}
.part_3_person_text{
    position: relative;
    float: right;
    width: 48%;
    font-size: 140%;
}


.topbar {
    background-color: #ffffff;
    color: #000000;
    padding: 1em;
    text-align: center;
    font-size: 200%;
    position: fixed;
    top: 0;
    z-index: 99999999;
    height: 0.01%;
    width: 100%;
  }
  
  .topbar .logo {
    float: left;
    font-size: 3rem;
    margin-right: 1em;
  }
  
  .topbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .topbar nav li {
    margin-right: 20px;
  }
  
  .topbar nav a {
    color: #242424;
    text-decoration: none;
  }
  
  .topbar nav a:hover {
    font-size: 2.4rem;
  }
  .topbar nav {
    margin-top: -20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }